body {
    text-align: left;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    width: 1200px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header {
    background-image: url("../images/hero-image.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 70px;
    text-align: center;
    color: white;
}
.header .bg-header h1 {
    font-size: 50px;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    position: relative;
    
    color: black;
}
.header .bg-header h1 b, 
.header .bg-header h1 a {
    display: block;
    margin: 0;
}
.header .bg-header h1 b {
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 50px;
}
.header .bg-header h1  .and {
    display: block;
    font-size: 30px;
    color: black;
    padding: 5px 0;
}
.header .bg-header h1 a {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 50px;
    color: black;
    padding-top: 10px;
}
.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: left;
    margin-bottom: 40px;
}

.header h1 {
    font-size: 36px;
    font-weight: normal;
}

.header h1 span {
    font-weight: bold;
}

.header .paragraph {
    max-width: 300px;
    margin-top: 10px;
    color: #666;
    text-align: right;
    float: right;
}

.content {
    margin-bottom: 40px;
    text-align: left;
}

.content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.content .description {
    max-width: 600px;
    margin: 0 auto 20px;
    color: #666;
    text-align: center;
}

.content ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content ul li {
    margin: 5px 0;
    font-weight: bold;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-wrapper {
    position: relative;
    width: 45%;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-wrapper::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background-color: #f9e769;
    z-index: -1;
    border-radius: 10px;
}
