body {
    background-image: url(../images/beautiful-blue-sky-clouds-background.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
   
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    margin-bottom: 20px;
}

.item {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    padding: 20px;
    height: 200px;
    position: relative;
}

.item p {
    color: #fff;
}

.item h3 {
    color: #fff;
}

.item img {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
}
